:root {
  --main_color: #ffa500;
  --bg_color: #212529;
  --white: #ffffff;
}


html, body {
    margin-top: 30px;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: var(--bg_color);
    color: var(--main_color);
}

h3 {
    color: white;
}

a {
  color: white;
}

a:hover {
  color: var(--main_color);
}

.navbar-sticky{
    position:fixed;
    top:0;
    width: 100%;
    z-index: 99999999;
}

.navbar-brand {
    margin-left: 2vw;
    color: var(--main_color);
}

.nav-link {
    margin-left:2vw;
    color: var(--main_color);
}

.nav-link-user {
    color: grey;
}

.navbar-collapse {
    margin-left:2vw;
}

/* hide alert banner after messages has been flashed */
@keyframes alert-response{
    from {opacity :1;}
    to {opacity :0;}
}

.del_but {
    text-align: center;
}

.container{
    margin-top: 5%;
    width: 75%;
}


/* Style the submit button */
input[type=submit]{
  margin-top: 0vh;
  background-color: Transparent;
  padding: 12px 20px;
  color: var(--main_color);
  font-weight: bold;
  cursor: pointer;
  border-color: var(--main_color);
  border-radius: 5px;
  float: left;
}


#image_parent{
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   width: 100%;
   height: 100%;
}

#image_child{
   position: relative;
   align-items: center;
}

.outer_image_field {
    padding: 10px;
    text-align: center;
    max-width: 570px;
}

.image_field {
    padding: 10px;
    background-color: #black;
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    max-height: 95%;
    height: auto;

}

.image_view_quote{
    margin-top: 15%;
}

.spinner-border {
    visibility: hidden;
    width: 4rem;
    height: 4rem;
    position: absolut;
    top: 50%;
    left: 45%;
}

.form-control {
    max-width: 500px;
}

.close-icon {
  width:20px;
  height:20px;
  border-width:3px;
  border-style: solid;
  border-color: var(--bg_color);
  border-radius: 100%;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%, transparent 56%, transparent 100%);
  background-color: var(--bg_color);
  box-shadow:0px 0px 5px 1px rgba(255,255,255,0.4);
  transition: all 0.3s ease;
  float: right;
}


#myBtn {
  /*display: none; /* Hidden by default */
  visibility: hidden;
  position: fixed; /* Fixed/sticky position */
  bottom: 40px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */

  background-color: Transparent;
  padding: 4px 10px;
  color: var(--main_color);
  font-weight: bold;
  cursor: pointer;
  border-color: var(--main_color);
  border-radius: 5px;
}
