{% extends 'base.html' %}

{% block content %}
<script src="{{ url_for('static', path='index.js') }}"></script>

  <div id="image_parent">
    <div id="image_child">
        {% for image in images %}
            <div class='outer_image_field' id="{{ image['id'] }}">
                <div><h3>{{ image['title'] }}</h3></div>
                <div class='image_field'>
                    <a href="javascript:handleDelete({{image['id']}})">
                        <div class="close-icon"></div>
                    </a>
                    <img src="data:;base64,{{ image['rendered_data'] }}"/>
                </div>
                <div><h6>{{ image.description }}</h6></div>
            </div>
        {% endfor %}
    </div>
  </div>

{% endblock %}
