{% extends "base.html" %}

{% block content %}

<div class="container">
  <div id="login_parent">
    <div id="login_child">
        <h2>Login</h2>
        <br>
        <br>
        <form method="POST" action="/login">
            Username:<input class="form-control" name="username" type="text" placeholder="username" required>
            Password:<input class="form-control" name="password" type="password" placeholder="password" required>
            <br>
            <input type="submit" value="Submit">
            <br>
            <br>
        </form>
        <br>
        Not registered yet? <a href="{{ url_for('signup') }}">Sign-up here!</a>
    </div>
  </div>


</div>


{% endblock %}
