{% extends 'base.html' %}

{% block content %}

<script src="{{ url_for('static', path='scripts.js') }}"></script>


<div class="container">
  <div id="parent">
    <div id="child">
        <h1>
            {% block title %} Quote of the day {% endblock %}
            <a href="{{ url_for('quote') }}">
                <svg id="i-reload" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="28" height="28" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <path d="M29 16 C29 22 24 29 16 29 8 29 3 22 3 16 3 10 8 3 16 3 21 3 25 6 27 9 M20 10 L27 9 28 2" />
                </svg>
            </a>
        </h1>

        <br>
        <i><h3 id="input_text">{{ quote.quote }}</h3></i>

        <br>
        <h5 id="title_author">{{ quote.author }}</h5>

        <br>
        <form method="post" onSubmit="handleSpinner(event)">
            <input type="hidden" id="title" name="title" value="{{ quote.author }}">
            <input type="hidden" id="content" name="content" value="{{ quote.quote }}">
            <input type="submit" value="Generate Image">
        </form>

        <br>
        <br>
        <div id="image_child">
            {% if img_object %}
            <div class='outer_image_field' id="{{ img_object.img_id }}">
                <div><h3>{{ img_object.img_title }}</h3></div>
                <div class='image_field'>
                    <a href="javascript:handleDelete({{ img_object.img_id }})">
                        <div class="close-icon"></div>
                    </a>
                    <img src="{{ img_object.img_url }}"/>
                </div>
                <div><h6>{{ img_object.img_text }}</h6></div>
            </div>
            {% endif %}
        </div>

    </div>
  </div>
</div>

{% endblock %}